.profile__button-userAvatar{
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  box-sizing: border-box;
  z-index: 0;
}

.profile__button-userAvatar:hover {
  cursor: pointer;
  border: 0;
}

.profile__button-userAvatar::after  {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/sign-pen.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}

.profile__button-userAvatar:hover::after  {
  visibility: visible;
  opacity: 1;
  transition: visibility .7s, opacity .8s ease;
}


